.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.placeholderWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.placeholder {
  font-size: 14px;
  color: #5f6368;
}
