.translator {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.tabsWrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  flex: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 16px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 768px) {
  .tabsWrapper {
    padding: 0 16px;
  }

  .container {
    padding: 16px 16px 34px;
  }
}
